.bookATrialSection {
    font-family: "Poppins", sans-serif;
    padding: 10rem 0rem;
    background-color: rgb(255 236 191);
    button {
        width: 6rem;
        padding: .5rem 1rem;
        border: 0px;
        font-size: 1.2rem;
        border-radius: 10px;
        letter-spacing: 1px;
        cursor: pointer;
    }

    h1 {
        font-size: 40px;
        text-align: center;
        font-weight: 500;
    }

    .paidBooking-section,.freeTrialSection{
        padding: 2rem 1rem;
        h2{
            font-size: 20px;
            font-weight: 500;
        }
        .freeSubjects,
        .course299,
        .course799 {
            padding: 2rem 0rem;
            display: grid;
            grid-template-columns: auto auto auto auto auto;
            column-gap: 2rem;
            row-gap: 1rem;
    
            .subjectName {
                border: 1px solid rgb(221, 221, 221);
                border-radius: 8px;
                font-size: 14px;
                padding: .5rem;
                display: inline;
                text-align: center;
                color: rgb(36 45 60);
                cursor: pointer;

    
            }
        }
        .course799{
            grid-template-columns: auto auto auto auto;
        }
    }


    .form {
        background-color: white;
        max-width: 1000px;
        margin: 2rem auto;
        padding: 3rem 7rem;
        border-radius: 10px;

        .progressBar {
            height: .05rem;
            background-color: gray;
            margin: 0rem 1rem;
        }

        .form-btn {
            display: flex;
            row-gap: 2rem;
            column-gap: 2rem;
            justify-content: center;

            

            .benefits-btn {
                display: flex;
                column-gap: 2rem;
                row-gap: 2rem;

                button {
                    width: 20rem;
                    border: 1px solid rgb(27 83 244);
                }
            }

            .next {
                color: white;
            }
        }
    }
    .selected{
        background-color: rgb(12, 57, 119);
        color: white !important;
    }
}